#ignore project specific
.project
.buildpath
.settings
#ignore yii specific
protected/runtime/*
protected/config_*/*
!protected/runtime/.gitignore
protected/data/*.db
protected/tests/report/*
yii/tests
yii/build
yii/demos
yii/docs
yii/requirements



